/*
 * Rev: TplRelease
 * Ver: 293
 * Date: 2013/09/29
 * Author: Rick  [tagsworld@gmail.com]
 * Author: Bella [chujingjing2006@gmail.com]
 */
* {
    padding: 0;
    margin: 0;
    font-style: normal
}

body {
    background: url(images/background.png);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body>section {
    margin: 0px 0px;
    background: url(attach/images/pic5.jpg);
}

#tmall {
    position: relative;
    font-size: 11px
}

#tmall img {
    display: block;
    width: 100%;
    -webkit-border-radius: 4px
}

#tmall p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 37px;
    padding: 8px 10px;
    background: rgba(0, 0, 0, 0.76);
    -webkit-border-radius: 0 0 4px 4px
}

#tmall p cite {
    display: block;
    color: white;
    line-height: 180%
}

#tmall p cite i {
    color: #ffd800;
    padding: 0 2px
}

#qiandao {
    width: 105px;
    height: 37px;
    background: url(images/btn_qiandao.png);
    background-size: 100% 100%;
    border: none;
    float: right
}

nav {
    font-weight: 600;
    text-align: center;
    display: -webkit-box;
    width: 100%
}

nav i {
    display: block;
    -webkit-box-flex: 1;
    margin-right: 7px;
    border: 1px solid #bcc0c1;
    padding: 10px 0 8px;
    position: relative;
    background: -webkit-gradient(linear, 50% 0, 50% 100%, from(#fff), to(#EBEBEB));
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 4px 4px 0 0
}

nav i:last-child {
    margin-right: 0
}

nav i.hover {
    color: #c10202;
    background: white;
    border-bottom: 1px solid white
}

nav i.hover:before {
    content: "";
    box-sizing: content-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    background: #c10202;
    -webkit-border-radius: 4px 4px 0 0;
    border: 1px solid #c10202;
    margin: -1px
}

article {
    background: white;
    border: 1px solid #bcc0c1;
    padding: 3px 10px;
    display: none;
    margin-top: -1px
}

article ol {
    padding: 10px 22px;
    line-height: 160%
}

article b {
    color: #c10202;
    padding-right: 4px
}

article cite {
    font-weight: 600;
    display: block
}

article p {
    padding: 6px 0;
    border-bottom: 1px solid #bcc0c1;
    line-height: 160%
}

article p:last-child {
    border: none
}

article#hero {
    line-height: 300%
}

#hero div {
    background: url(images/icon_gift.png) -6px 2px no-repeat;
    background-size: 30px 30px;
    text-indent: 24px;
    line-height: 24px;
    padding: 6px 0
}

#hero div i {
    color: #ff9d12
}

#hero ul li {
    border-top: 1px solid #bcc0c1;
    list-style: decimal inside none
}

#hero ul li.top {
    color: #c10202
}

#hero ul li span {
    float: right;
    display: inline-block;
    min-width: 80px
}

#hero.nodata div {
    display: none
}

#hero.nodata ul {
    display: none
}

#hero p {
    display: none;
    background: url(images/happy_task.png) 0 50% no-repeat;
    background-size: 44px 35px
}

#hero.nodata p {
    display: block;
    border: none;
    line-height: 100px;
    color: #494949;
    padding-left: 50px
}