/* CSS Document */

/* css reset from yahoo YUI */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 	margin:0;	padding:0;}
table {	border-collapse:collapse;	border-spacing:0;}
fieldset,img { 	border:0;}
address,caption,cite,code,dfn,em,strong,th,var {	font-style:normal;	font-weight:normal;}
ol,ul {	list-style:none;}
caption,th {	text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:normal;}
q:before,q:after {	content:'';}
abbr,acronym { border:0;}
/* css reset from yahoo YUI  END*/

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

.container {
	width: 951px;
	margin: 0 auto;
	top: 643px;
}

.head {
	margin-top: 5px;
}

.head .logo {
	background-repeat: no-repeat;
	height: 67px;
	line-height: 62px;
	overflow: hidden;
	font-family: "黑体";
	font-size: x-large;
	text-align: left;
	margin-left: 52px;
}

.logo img {
	width: 67px;
	height: 67px;
	float: left;
}
.head .login {
	float: right;
	font-size: 12px;
	margin-right: 19px;
	padding: 5px 10px;
}
.head ul {
	float: right;
	width: 516px;
	margin-right: 58px;
	padding-top: 5px;
	padding-bottom: 15px;
}

.head ul li {
	float: left;
	margin-left: 42px;
	margin-right: 9px;
	padding-left: 7px;
	font-size: 12px;
	background-image: url(../images/nav_logo.gif);
	background-repeat: no-repeat;
}

.head .head_line {
	height: 10px;
	background: #68B498;
	margin-bottom: 10px;
}

.main-left {
	float: left;
	width: 194px;
	min-height: 673px;
	height: 673px;
	height: 100%;
	background-image: url(../images/bg_main_left.jpg);
	background-repeat: repeat-y;
	border: 2px solid #C5E3D8;
	border-radius: 8px;
}

.main-left .left-head {
	background: #68B498;
	width: 165px;
	height: 30px;
	margin-top: 5px;
	margin-left: 4px;
	border: 2px solid #68B498;
	border-radius: 5px;
	font-size: 16px;
	line-height: 30px;
	color: #F1F0EF;
	padding-left: 20px;
}

.main-left .left-body {
	font-size: 14px;
}

.main-left .left-logo {
	background-image: url(../images/left-logo.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 643px;
	width: 194px;
}

.main-right {
	margin-left: 208px;
}

.main-right .banner {
	width: 742px;
	height: 224px;
}

.breadcrumb {
	background-image: url(../images/bread_crumb_icon.png);
	background-repeat: no-repeat;
	margin: 10px 19px;
	padding-left: 22px;
	font-size: 14px;
}

.main-right .right-body {
	height: 416px;
	background-image: url(../images/right-bg.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.main-right p {
	margin: 0;
	padding: 10px 30px;
	font-size: 14px;
}

.footer {
}

.footer .footer_line {
	height: 20px;
	background-image: url(../images/bottom_line.png);
	background-repeat: no-repeat;
}

.footer ul {
	margin-left: 108px;
	margin-bottom: 10px;
}

.footer ul li {
	float: left;
	width: 100px;
	font-size: 12px;
	margin-right: 20px;
}

.footer .copyright {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 617px;
}

.footer .company {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 60px;
	width: 205px;
}