/* CSS Document */

/* css reset from yahoo YUI */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 	margin:0;	padding:0;}
table {	border-collapse:collapse;	border-spacing:0;}
fieldset,img { 	border:0;}
address,caption,cite,code,dfn,em,strong,th,var {	font-style:normal;	font-weight:normal;}
ol,ul {	list-style:none;}
caption,th {	text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:normal;}
q:before,q:after {	content:'';}
abbr,acronym { border:0;}
/* css reset from yahoo YUI  END*/

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

.container {
	width: 951px;
	margin: 0 auto;
	top: 643px;
}

body {
	background-image:url(../images/body_bg.png);
	background-repeat: repeat-x;
}

.head {
	margin-top: 5px;
}

.head .logo {
	background-repeat: no-repeat;
	height: 67px;
	line-height: 62px;
	overflow: hidden;
	font-family: "黑体";
	font-size: x-large;
	text-align: left;
	margin-left: 52px;
}

.logo img {
	width: 67px;
	height: 67px;
	float: left;
}
.head .login {
	float: right;
	font-size: 12px;
	margin-right: 19px;
	padding: 5px 10px;
}
.head ul {
	float: right;
	width: 516px;
	margin-right: 58px;
	padding-top: 5px;
	padding-bottom: 15px;
}

.head ul li {
	float: left;
	margin-left: 42px;
	margin-right: 9px;
	padding-left: 7px;
	font-size: 12px;
	background-image: url(../images/nav_logo.gif);
	background-repeat: no-repeat;
}

.head .head_line {
	height: 10px;
	background: #68B498;
	margin-bottom: 10px;
}

.main-left {
	float: left;
	width: 194px; 
	height: 100%;
	background-image: url(../images/bg_main_left.jpg);
	background-repeat: repeat-y;
	border: 2px solid #C5E3D8;
	border-radius: 8px;
}

.main-left .left-head {
	background: #68B498;
	width: 165px;
	height: 30px;
	margin-top: 5px;
	margin-left: 4px;
	border: 2px solid #68B498;
	border-radius: 5px;
	font-size: 16px;
	line-height: 30px;
	color: #F1F0EF;
	padding-left: 20px;
}

.main-left .left-body {
	font-size: 14px;
}

.main-left .left-logo {
	background-image: url(../images/left-logo.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 643px;
	width: 194px;
}

.main-right {
	margin-left: 208px;
}

.main-right .banner {
	width: 742px;
	height: 224px;
}

.main-right .right-body {
	height: 416px;
	background-image: url(../images/right-bg.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.main-right p {
	margin: 0;
	padding: 10px 30px;
	font-size: 14px;
}

.breadcrumb {
	background-image: url(../images/bread_crumb_icon.png);
	background-repeat: no-repeat;
	margin: 20px 20px;
	padding-left: 22px;
	font-size: 14px;
}

.footer {
	margin-top: 20px;
}

.footer .footer_line {
	height: 20px;
	background-image: url(../images/bottom_line.png);
	background-repeat: no-repeat;
}

.footer ul {
	margin-left: 108px;
	margin-bottom: 10px;
}

.footer ul li {
	float: left;
	width: 100px;
	font-size: 12px;
	margin-right: 20px;
}

.footer .copyright {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 617px;
}

.footer .company {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 60px;
	width: 205px;
}

/*
device page
*/
.middle-left {
	float: left;
	width: 50%;
}

.middle-left .device-img {
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: 50px;
}

.middle-right {
	width: 50%;
	height: 451px;
	float: right;
	background-image:url(../images/device_right_bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.middle-right .device {
	margin-left: 15px;
	margin-bottom: 5px;
}

.middle-right .ft16 {
	font-style: normal;
	font-weight: bolder;
	font-size: 16px;
	
}

.middle-right hr {
	margin: 0 37px;
	height: 4px;
	background-image:url(../images/device_right_hr.png)
}

.middle-right .device-content {
	margin: 4px 37px;
}

.middle-right .device-content p {
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	font-weight: normal;
	text-indent: 2em;
}

.main-left .left-body.left-logo img {
	margin-top: 4px;
	margin-left: 4px;
}

.container .main-right .right-body table {
	font-size: 14px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 60px;
	border-collapse: collapse;
	border-spacing: 10px;;
}

.container .maintian {
	height: 420px;
}

.container .main-right .right-body table tr {
	height: 30px;
}

.container .main-right .right-body table th {
	width: 530px;
}

.container .main-right .maintain-bg {
	background-image: url(../images/maintain_right_bg.png);
}

.container .main-left .exper_bread {
	margin: 20px 10px;
}

.container .main-right .exper-content p {
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	font-weight: normal;
	text-indent: 2em;
}

/* device2 page */

.main-device-left {
	float: left;
	width: 256px;
	height: 100%;
	background-image: url(../images/bg_device_left.png);
	background-repeat: repeat-y;
	border: 2px solid #C5E3D8;
	border-radius: 8px;
}

.main-device-left img {
	margin: 5px 2px;
}

.main-device-left .left-head {
	background: #68B498;
	width: 222px;
	height: 30px;
	margin-top: 5px;
	margin-left: 4px;
	border: 2px solid #68B498;
	border-radius: 5px;
	font-size: 16px;
	line-height: 30px;
	color: #F1F0EF;
	padding-left: 20px;
}

.main-device-left .left-body {
	font-size: 14px;
}

.main-device-left .left-body ul {
	margin: 20px 30px 20px 5px;
}

.main-device-left .left-body ul li {
	margin-bottom: 24px;
	background-image: url(../images/bread_crumb_icon.png);
	background-repeat: no-repeat;
	padding-left: 22px;
	height: 22px;
	min-height: 22px;
	border-bottom: 3px dotted #DFDFDF;
}

.main-device-left .left-logo {
	background-image: url(../images/left-logo.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 770px;
	width: 256px;
}


.main-device-right {
	margin-left: 270px;
}

.main-device-right .right-body {
	height: 100%;
	width: 100%;
}

.main-device-right .right-body ul {
	margin-left: 19px;
	margin-bottom: 20px;
	width: 660px;
	height: 940px;
}

.main-device-right .right-body ul li {
	width: 135px;
	position: relative;
	float: left;
	list-style-type: none;
	margin-right: 27px;
	margin-bottom: 20px;
}

.main-device-right .right-body ul li img {
	width: 135px;
	height: 135px;
}

.main-device-right .right-body ul li div {
	width: 135px;
	height: 18px;
	min-height: 18px;
	background-color: #EEF4FD;
	text-align: center;
	font-size: 14px;
	margin-top: 12px;
	padding-top: 4px;
	float: left;
}

.right-body .list-page {
	height: 30px;
	min-height: 30px;
	margin: 20px 20px;	
	text-align: center;	
	font-size: 12px;
}
